VITE_API_BASE_URL=/api
VITE_API_PROXY_TARGET=http://localhost:5000
VITE_ASSET_BASE_URL=http://localhost:5000
VITE_GOOGLE_OAUTH_URL=/api/auth/google
VITE_GOOGLE_CLIENT_ID=235789455690-abk09k6o73ligh8r30nh8ro50a14mehh.apps.googleusercontent.com
